/*
// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*/
span.strikeplagiarismreport span.rank10,
span.strikeplagiarismreport span.rank9,
span.strikeplagiarismreport span.rank8,
span.strikeplagiarismreport span.rank7,
span.strikeplagiarismreport span.rank6,
span.strikeplagiarismreport span.rank5,
span.strikeplagiarismreport span.rank4,
span.strikeplagiarismreport span.rank3,
span.strikeplagiarismreport span.rank2,
span.strikeplagiarismreport span.rank1 {
    color: #fff;
    font-weight: bold;
    padding: 2px;
}

span.strikeplagiarismreport span.rank1 {
    background: #000;
}

span.strikeplagiarismreport span.rank2 {
    background: #000;
}

span.strikeplagiarismreport span.rank3 {
    background: #ae2721;
}

span.strikeplagiarismreport span.rank4 {
    background: #d82c2a;
}

span.strikeplagiarismreport span.rank5 {
    background: #ee5d5a;
}

span.strikeplagiarismreport span.rank6 {
    background: #f07110;
}

span.strikeplagiarismreport span.rank7 {
    background: #ffca08;
}

span.strikeplagiarismreport span.rank8 {
    background: #ffea59;
    color: #333;
}

span.strikeplagiarismreport span.rank9 {
    background: #ffff9d;
    color: #333;
}

span.strikeplagiarismreport span.rank10 {
    background: #669934;
}

#page-plagiarism-strike-cmoverview table.flexible td a img {
    margin-right: 8px;
}